@use "../../../../../shared/styles/palette" as *;
mat-card {
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease; /* Smooth transition for the movement */

  &-header {
    padding: 0;
    position: relative;
    .category-icon {
      position: absolute;
      bottom: 0;
      right: 1rem;
      transform: translatey(50%);
      background-color: $green-color;
      color: $white-color;
      border-radius: 50%;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
    }
    img {
      width: 100%;
    }
  }
  &-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 1.7rem;
    min-height: 22.2rem;
    min-width: 28.5rem;
    mat-card-title {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-weight: 700;
    }
    mat-card-subtitle {
      display: block;
      min-height: 4.4rem;
    }
    .description {
      display: flex;
      justify-content: space-around;
      margin-bottom: 1rem;
      color: #d3d3d3;
      width: 100%;
      &-inner-cont {
        gap: 0.3rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        mat-icon {
          align-self: center;
          transition: transform 0.3s ease;
        }
      }
      &-inner-cont:hover {
        color: rgb(31, 31, 31);
        cursor: pointer;
      }
      span {
        font-weight: 500;
      }
    }
    button {
      width: 100%;
      padding: 1rem;
      border-radius: 50px;
      font-weight: bold;
      color: $orange-light-color;
      border: 2px solid $orange-light-color;
      background-color: $white-color;
      cursor: pointer;
      transition: color 0.2s ease-in-out, background-color 200ms ease-in-out;
    }
    button:hover {
      width: 100%;
      padding: 1rem;
      border-radius: 50px;
      font-weight: bold;
      color: $white-color;
      background: linear-gradient(
        90deg,
        $orange-light-color 0%,
        $orange-dark-color 100%
      );
      border: 2px solid$white-color;
      background-color: $orange-light-color;
    }
  }
  &:hover {
    transform: translateY(-0.8rem);
  }
}
