@use "../../../shared/styles/palette" as *;
.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 2rem;
  font-size: 2rem;
  font-weight: 700;
  color: $black-light;
  border-bottom: 2px solid $black-dark;
  span.styled {
    display: inline-block;
    background: linear-gradient(
      90deg,
      $orange-light-color 0%,
      $orange-dark-color 100%
    );
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    color: $white-color;
  }
  .navigation {
    display: flex;
    gap: 1rem;
    .btn {
      &.form {
        background: linear-gradient(
          45deg,
          $orange-light-color 0%,
          $orange-dark-color 100%
        );
      }
      &.list {
        background: linear-gradient(
          90deg,
          $orange-dark-color 0%,
          $orange-light-color 100%
        );
      }
    }
  }
}
