$gold-color: #ffd700;
$dark-gold-color: #e19d1dab;
$orange-light-color: #ffa500;
$orange-dark-color: #ff7b00;
$red-color: #ff0000;
$green-color: #4caf50;
$black-light: rgba(0, 0, 0, 0.87);
$black-dark: black;
$white-color: #fff;
