.grid-container {
  padding: 0 5rem;
  display: grid;
  gap: 3.5rem;
  grid-template-columns: repeat(1, 1fr);
}

@media (max-width: 768px) {
  .grid-container {
    padding: 0 10rem;
  }
}
@media (min-width: 769px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1440px) {
    .grid-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
