<section *ngIf="recipeData$ | async as recipe">
  <article class="meal-preview">
    <img [src]="recipe.image" alt="food-image" />
    <div class="description">
      <span class="title gold">{{ recipe.name }}</span>
      <em class="details">
        {{ recipe.description }}
      </em>
    </div>
    <article class="ingredients">
      <h2>Ingredients</h2>

      <mat-list role="list">
        <mat-list-item
          role="listitem"
          *ngFor="let ingredient of recipe.ingredients"
          ><span class="center-list-items"
            ><mat-icon>shopping_cart</mat-icon>{{ ingredient }}</span
          ></mat-list-item
        >
      </mat-list>
    </article>

    <article class="directions">
      <h2>directions</h2>
      <mat-list role="list">
        <mat-list-item
          role="listitem"
          *ngFor="let direction of recipe.directions"
          ><span class="center-list-items"
            ><mat-icon>explore</mat-icon>{{ direction }}</span
          ></mat-list-item
        >
      </mat-list>
    </article>
  </article>
</section>
