<section *ngIf="recipeData$ | async as recipe">
  <article class="meal-preview">
    <img [src]="recipe.image" alt="food-image" />
    <div class="description">
      <span class="title gold">{{ recipe.name }}</span>
      <em class="details">
        {{ recipe.description }}
      </em>
    </div>
    <div class="ingredients">
      <h3>Ingredients</h3>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient }}</li>
      </ul>
    </div>

    <div class="ingredients">
      <h3>directions</h3>
      <ol>
        <li *ngFor="let direction of recipe.directions">{{ direction }}</li>
      </ol>
    </div>
  </article>
</section>
